flask==2.3.3
flask-cors==4.0.0
flask-jwt-extended==4.5.2
flask-sqlalchemy==3.1.1
passlib==1.7.4
networkx==3.1
matplotlib==3.7.1
python-dotenv==1.0.0
psycopg==3.1.18
psycopg-binary==3.1.18
sqlalchemy>=2.0.28
supabase==2.3.0
gunicorn==21.2.0